<div
  class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5"
>
  <div
    class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden"
    style="max-width: 350px"
  >
    <h1 class="text-center text-white py-10 text-3xl font-bold">
      Angular Calculator
    </h1>
    <!---Calculator Screen--->
    <div
      class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right"
    >
      <!--Function Screen-->
      <div class="w-full py-5 px-6 text-2xl text-white font-thin">
        {{ funcT }}
      </div>

      <!-------Number Screen-------->
      <div class="w-full py-5 px-6 text-6xl text-white font-thin">
        {{ calValue | number }}
      </div>
    </div>
    <!--End Calculator Screen-->

    <!--Calculator button area-->
    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <!-- First button row -->
      <div class="flex w-full">
        <!-- Clear button  -->
        <div class="w-2/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-xl font-light text-white"
            (click)="onClickValue('c', 'function')"
          >
            C
          </button>
        </div>
        <!-- end clear button -->
        <!-- precentage button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('%', 'function')"
          >
            %
          </button>
        </div>
        <!-- End precentage button  -->
        <!-- Divide button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('/', 'function')"
          >
            /
          </button>
        </div>
        <!-- End Divide button  -->
      </div>
      <!-- End First Button Row  -->

      <!-- Start Second Button row  -->

      <div class="flex w-full">
        <!-- Number 7 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('7', 'number')"
          >
            7
          </button>
        </div>
        <!-- End Number 7 Button  -->

        <!-- Number 8 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('8', 'number')"
          >
            8
          </button>
        </div>
        <!-- End Number 8 Button  -->

        <!-- Number 9 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('9', 'number')"
          >
            9
          </button>
        </div>
        <!-- End Number 9 Button  -->

        <!-- Number Multiplication Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('*', 'function')"
          >
            *
          </button>
        </div>
        <!-- End Number Multiplication Button  -->
      </div>
      <!-- End Second Button Row  -->

      <!-- Start Third Button row  -->

      <div class="flex w-full">
        <!-- Number 4 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('4', 'number')"
          >
            4
          </button>
        </div>
        <!-- End Number 4 Button  -->

        <!-- Number 5 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('5', 'number')"
          >
            5
          </button>
        </div>
        <!-- End Number 5 Button  -->

        <!-- Number 6 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('6', 'number')"
          >
            6
          </button>
        </div>
        <!-- End Number 6 Button  -->

        <!-- Number Minus Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('-', 'function')"
          >
            -
          </button>
        </div>
        <!-- End Number Minus Button  -->
      </div>
      <!-- End Third Button Row  -->

      <!-- Start Fourth Button row  -->

      <div class="flex w-full">
        <!-- Number 1 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('1', 'number')"
          >
            1
          </button>
        </div>
        <!-- End Number 1 Button  -->

        <!-- Number 2  Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('2', 'number')"
          >
            2
          </button>
        </div>
        <!-- End Number 2  Button  -->

        <!-- Number 3 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('3', 'number')"
          >
            3
          </button>
        </div>
        <!-- End Number 3 Button  -->

        <!-- Number Plus Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('+', 'function')"
          >
            +
          </button>
        </div>
        <!-- End Number Plus Button  -->
      </div>
      <!-- End Fourth Button Row  -->

      <!-- Start Fifth Button row  -->

      <div class="flex w-full">
        <!-- Number 0 Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('0', 'number')"
          >
            0
          </button>
        </div>
        <!-- End Number 0 Button  -->

        <!-- Number Decimal  Button  -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('.', 'number')"
          >
            .
          </button>
        </div>
        <!-- End Number Decimal  Button  -->

        <!-- Equalto Button  -->
        <div class="w-2/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700hover:bg-opacity-20 text-opacity-50 text-xl font-light text-white"
            (click)="onClickValue('=', 'function')"
          >
            =
          </button>
        </div>
        <!-- End Number Wqualto Button  -->
      </div>
      <!-- End Fifth Button Row  -->
    </div>
    <!-- End Calculator Button Area  -->
  </div>
</div>
